
.container{
    display: flex;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.login{
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 0px solid black;
    border-radius: 7px ;
}

.form_helper{
    justify-content: space-between;
}
.forgot, .link{
    text-decoration: none;
}
.input:hover{
    border: 1px solid rgb(55, 134, 218);
}
